{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="pf-auth">
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="pf-field">{{ form.old_password.label_tag }}{{ form.old_password }}{{ form.old_password.errors }}</div>
    <div class="pf-field">{{ form.new_password1.label_tag }}{{ form.new_password1 }}{{ form.new_password1.errors }}</div>
    <div class="pf-field">{{ form.new_password2.label_tag }}{{ form.new_password2 }}{{ form.new_password2.errors }}</div>
    <div class="pf-actions" style="justify-content:flex-start;">
      <a href="{% url 'account-edit' %}" class="pf-btn-cancel">Cancel</a>
      <button type="submit" class="pf-btn-save">Change</button>
    </div>
  </form>
</div>
{% endblock %}
